
@font-face{
	src: url(font/MyriadPro-Light.otf);
	font-family: Myriad pro;
}



/*-------------------------------------------------
 =  Table of Css

 1.Import google fonts & basic style of template
 2.Header
 3.Isotope filtering
 4.Kenburn slider basic
 5.General
 6.testimonial section
 7.Team Sections
 8.services page
 9.collapse section
 10.career section
 11.Pricing section
 12.portfolio section
 13.video section
 14.clients section
 15.feature section
 16.News section
 17.Sidebar
 18.Subscribe section
 19.Statistic sections
 20.About sections
 21.Single Post
 22.Single Project
 23.Contact
 24.Footer
 25.Responsive part
-------------------------------------------------*/
.reset-elem, .dropdown, .page-list ul, section.team-section .team-post .post-social, section.pricing-section .pricing-box .pricing-table ul.pricing-list, section.portfolio-section ul.filter, section.portfolio-section .portfolio-box .project-post .hover-box ul.project-tags, section.clients-section .clients-box ul.client-list, .pagination-list-box ul.pages-list, .sidebar .category-widget ul, .sidebar .popular-widget ul.popular-list, .sidebar .tags-widget ul.tags-list, .single-post__list, .comment-area-box > ul, section.single-project-section .single-content .project-content ul.social-icons, section.single-project-section .single-content .project-content ul.detail-list, section.similar-projects-section .similar-projects-box .project-post .project-content ul.project-tags, footer .up-footer .footer-widget ul.social-list,
footer .up-footer .footer-widget ul.quick-list, footer .up-footer .footer-widget ul.recent-posts, footer .up-footer ul.social-network-list {
  margin: 0;
  padding: 0; }

p, .paragraph, section.pricing-section .pricing-box .pricing-table ul.pricing-list li, .other-posts__desc, section.single-project-section .single-content .project-content ul.detail-list li, footer .up-footer .footer-widget ul.social-list li a,
footer .up-footer .footer-widget ul.quick-list li a {
  font-size: 17px;
  color: #666666;
  font-family: "Hind", sans-serif;
  font-weight: 300;
  line-height: 26px;
  margin: 0 0 10px; }

h1, .heading1, section.mision-section .mision-post span {
  color: #333333;
  font-size: 40px;
  font-family: "Sifon Basic", sans-serif;
  font-weight: 600;
  line-height: 50px;
  margin: 0 0 20px; }

h2, .heading2 {
  color: #333333;
  font-size: 20px;
  font-family: "Sifon Basic", sans-serif;
  font-weight: 600;
  margin: 0 0 14px;
  line-height: 30px; }

h3, .heading3 {
  color: #333333;
  font-size: 24px;
  font-family: "Sifon Basic", sans-serif;
  font-weight: 400;
  margin: 0 0 14px;
  line-height: 28px; }

.back-cover, section.about-section {
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important; }

a, .anchor {
  display: inline-block;
  text-decoration: none !important;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }

/*------------------------------------------------- */
/* =  Header
 *------------------------------------------------- */

/* Logo */
.logo{
	position:absolute;
	width:162px;
	height:63px;
	z-index:10000;
	left:121px;
	top:14px;
	background:url('../images/logos/ACE-it.png') no-repeat center center;
	/* background-size:146px 80px; */
	background-size:94px 91px;
}
@media only screen and (max-width: 800px) {
    .logo{
	width:130px;
	height:50px;
	left:10px;
	top:10px;
	/* background:url('../images/logo.png') no-repeat center center; */
	background-size:68px 71px;
}
  }
/*  */


header {
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 999999; }

.navbar {
  padding: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  border-bottom: none;
  width: 100%;
  z-index: 999999;
  background: transparent !important;
  border-bottom: 1px solid rgba(204, 204, 204, 0.3); }
  .navbar a.navbar-brand {
    float: none;
    margin-left: -15px; }
    .navbar a.navbar-brand img {
      margin-bottom: 5px; }

/* header.active {
  background: #232323 !important; } */



/**
 * Allows you to use retina images at various pixel densities.
 * Examples:
 *
 *   @include retina(/images/mypic.jpg, 2);
 *   @include retina(/images/mypic.jpg, 3, 100px 100px, left top no-repeat transparent);
 *
 * @param  {Value}  $path               The path to the file name minus extension.
 * @param  {Number} $cap:    2          The highest pixel density level images exist for.
 * @param  {Value}  $size:   auto auto  The intended width of the rendered image.
 * @param  {Value}  $extras: null       Any other `background` values to be added.
 */
/*-------------------------------------------------- */
/* 1. Isotope filtering */
/*------------------------------------------------- */
.isotope-item {
  z-index: 2; }

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s; }

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width; }

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity; }

/*-----------------------------------------------------------------------------
 *
 *KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT
 *
 *Screen Stylesheet
 *
 *version:    1.0
 *date:       07/27/11
 *author:     themepunch
 *email:      support@themepunch.com
 *website:    http://www.themepunch.com */
/*----------------------------------------------------------------------------- */
.boxedcontainer {
  max-width: 1170px;
  margin: auto;
  padding: 0px 30px; }

/*********************************************
 *    -   SETTINGS FOR BANNER CONTAINERS  -
 ********************************************* */
.tp-banner-container {
  width: 100%;
  position: relative;
  padding: 0; }

.tp-banner {
  width: 100%;
  position: relative; }

.tp-banner-fullscreen-container {
  width: 100%;
  position: relative;
  padding: 0; }

/*------------------------------------------------- */
/* =  General */
/*------------------------------------------------- */
#container {
  overflow: hidden;
  opacity: 0; }

#container.active {
  opacity: 1; }

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  z-index: 9999; }

.preloader img {
  -webkit-backface-visibility: hidden; }

.title-section {
  text-align: center;
  margin-bottom: 50px;
  position: relative; }
  .title-section p {
    font-size: 18px;
    color: #434242; }
  .title-section span {
    display: inline-block;
    color: #4885ff;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin: 0 0 10px; }

.title-section.white-style h1 {
  color: #ffffff; }

#home-section {
  overflow: hidden;
  background: #111111; }
  #home-section .tp-caption.Concept-Title {
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    font-weight: 600 !important;
    letter-spacing: -2px !important; }
  #home-section .tp-caption.Concept-SubTitle {
    font-family: "Poppins", sans-serif;
    font-style: normal !important;
    font-weight: 400 !important;
    text-align: center;
    color: #ffffff; }
  #home-section .persephone .tp-bullet {
    width: 30px;
    height: 3px;
    background: rgba(255, 255, 255, 0.5);
    border: none; }
  #home-section .persephone .tp-bullet:hover, #home-section .persephone .tp-bullet.selected {
    background: #fff; }


section.page-banner-section {
  padding: 150px 0 50px;
  /*
   * Set a counter and get the length of the image path.
   */
  /*
   * Loop ver the image path and figure out the
   * position of the dot where the extension begins.
   */
  /*
   * If we were able to figure out where the extension is,
   * slice the path into a base and an extension. Use that to
   * calculate urls for different density environments. Set
   * values for different environments.
   */
  /*
     * Set a base background for 1x environments.
     */
  background: #111 url("../images/gallery/d2.jpg") center center no-repeat;
  background-size: cover;
  /*
     * Create an @2x-ish media query.
     */
  /*
     * Create media queries for all environments that the user has
     * provided images for.
     */
  /*
   * If anything went wrong trying to separate the file from its
   * extension, set a background value without doing anything to it.
   */ }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
    section.page-banner-section {
      background: #111 url("../images/gallery/a7.jpg") center center no-repeat;
      background-size: cover; } }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    section.page-banner-section {
      background: #111 url("../images/gallery/a7.jpg") center center no-repeat;
      background-size: cover; } }
  section.page-banner-section .page-banner-box {
    padding: 140px 0 90px; }
  section.page-banner-section h1 {
    color: #ffffff;
    margin-bottom: 0px; }
  section.page-banner-section p {
    margin-bottom: 0;
    color: #cccccc; }


/*------------------------------------------------- */
/* =  testimonial section
/*------------------------------------------------- */


/*------------------------------------------------- */

/*------------------------------------------------- */
/* =  services page */
/*------------------------------------------------- */
section.services-section {
  padding: 100px 0 0;
  margin-bottom: 250px;
  /*
   * Set a counter and get the length of the image path.
   */
  /*
   * Loop ver the image path and figure out the
   * position of the dot where the extension begins.
   */
  /*
   * If we were able to figure out where the extension is,
   * slice the path into a base and an extension. Use that to
   * calculate urls for different density environments. Set
   * values for different environments.
   */
  /*
     * Set a base background for 1x environments.
     */
  background: #111 url("../upload/banners/ban1.jpg") center bottom no-repeat;
  background-size: cover;
  /*
     * Create an @2x-ish media query.
     */
  /*
     * Create media queries for all environments that the user has
     * provided images for.
     */
  /*
   * If anything went wrong trying to separate the file from its
   * extension, set a background value without doing anything to it.
   */ }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
    section.services-section {
      background: #111 url("../upload/banners/ban1@2x.jpg") center bottom no-repeat;
      background-size: cover; } }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    section.services-section {
      background: #111 url("../upload/banners/ban1@2x.jpg") center bottom no-repeat;
      background-size: cover; } }
  section.services-section .services-title {
    margin-bottom: 50px; }
    section.services-section .services-title h1 {
      color: #fff; }
    section.services-section .services-title .button-holder {
      padding-top: 20px;
      text-align: right; }
  section.services-section .services-box {
    padding-bottom: 15px; }
    section.services-section .services-box .services-post {
      margin-bottom: -250px; }
      section.services-section .services-box .services-post img {
        width: 100%;
        height: auto;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px; }
      section.services-section .services-box .services-post .services-content {
        padding: 20px 20px 0; }
        section.services-section .services-box .services-post .services-content span {
          color: #4885ff; }

section.services-section.grey-background {
  background: #f6f6f7;
  padding-top: 1px;
  position: relative; }
  section.services-section.grey-background .container {
    position: relative;
    z-index: 2; }
  section.services-section.grey-background .strategy-box {
    margin-bottom: 50px;
    margin-top: -80px;
    position: relative; }
    section.services-section.grey-background .strategy-box .strategy-post {
      padding: 0 40px 60px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      border-radius: 6px;
      box-shadow: 0 15px 20px rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.05);
      -o-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.05);
      background: #fff;
      text-align: center;
      margin-bottom: 30px; }
      section.services-section.grey-background .strategy-box .strategy-post a {
        font-size: 34px;
        text-align: center;
        margin-bottom: 40px;
        margin-top: -35px;
        position: relative; }
        section.services-section.grey-background .strategy-box .strategy-post a i {
          width: 70px;
          height: 70px;
          background: #4885ff;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%;
          line-height: 70px;
          color: #fff;
          position: relative;
          z-index: 2; }
        section.services-section.grey-background .strategy-box .strategy-post a:after {
          content: '';
          top: -10px;
          left: -10px;
          bottom: -10px;
          right: -10px;
          position: absolute;
          background: #f6f6f7;
          opacity: 1;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
        section.services-section.grey-background .strategy-box .strategy-post a:hover:after {
          animation-name: bordermove;
          animation-duration: 0.8s;
          animation-timing-function: ease-out;
          animation-delay: 0s;
          animation-direction: alternate;
          animation-iteration-count: infinite;
          animation-fill-mode: none;
          animation-play-state: running; }

@keyframes bordermove {
  0% {
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px; }
  100% {
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px; } }
      section.services-section.grey-background .strategy-box .strategy-post h2 {
        margin-bottom: 0px; }
      section.services-section.grey-background .strategy-box .strategy-post span {
        display: inline-block;
        color: #aab6bb;
        font-size: 13px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        margin: 0 0 15px; }
      section.services-section.grey-background .strategy-box .strategy-post p {
        max-width: 365px;
        margin: 0 auto;
        color: #999999; }
  section.services-section.grey-background .services-box .services-post {
    margin-bottom: -300px; }
  section.services-section.grey-background:after {
    content: '';
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 180px;
    background: #f6f6f7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }

section.services-section2 {
  padding: 100px 0 60px; }
  section.services-section2 .services-box .services-post {
    margin-bottom: 50px;
    background: #fff;
    text-align: center; }
    section.services-section2 .services-box .services-post a {
      width: 70px;
      height: 70px;
      border: 1px solid rgba(71, 133, 255, 0.7);
      line-height: 68px;
      color: #4885ff;
      font-size: 34px;
      text-align: center;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      margin-bottom: 30px;
      position: relative; }
      section.services-section2 .services-box .services-post a i {
        position: relative;
        z-index: 2; }
      section.services-section2 .services-box .services-post a:after {
        content: '';
        top: -10px;
        left: -10px;
        bottom: -10px;
        right: -10px;
        position: absolute;
        border: 1px solid #4885ff;
        opacity: 0.3;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
      section.services-section2 .services-box .services-post a:hover {
        background: #4885ff;
        color: #fff; }
      section.services-section2 .services-box .services-post a:hover:after {
        background: #4885ff;
        animation-name: bordermove;
        animation-duration: 0.8s;
        animation-timing-function: ease-out;
        animation-delay: 0s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-fill-mode: none;
        animation-play-state: running; }

@keyframes bordermove {
  0% {
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px; }
  100% {
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px; } }
    section.services-section2 .services-box .services-post p {
      color: #999999; }


    /*
   * Set a counter and get the length of the image path.
   */
    /*
   * Loop ver the image path and figure out the
   * position of the dot where the extension begins.
   */
    /*
   * If we were able to figure out where the extension is,
   * slice the path into a base and an extension. Use that to
   * calculate urls for different density environments. Set
   * values for different environments.
   */
    /*
     * Set a base background for 1x environments.
     */
    
    /*
     * Create an @2x-ish media query.
     */
    /*
     * Create media queries for all environments that the user has
     * provided images for.
     */
    /*
   * If anything went wrong trying to separate the file from its
   * extension, set a background value without doing anything to it.
   */ }
    @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
      section.what-we-do .image-back-holder {
        background: #111 url("../upload/others/s4@2x.jpg") center bottom no-repeat;
        background-size: cover; } }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      section.what-we-do .image-back-holder {
        background: #111 url("../upload/others/s4@2x.jpg") center bottom no-repeat;
        background-size: cover; } }

section.services-block-section {
  padding: 100px 0 0; }
  section.services-block-section .title-section {
    text-align: left; }
    section.services-block-section .title-section p {
      margin-top: 40px;
      font-family: "Futura-Light";
    
    }
  section.services-block-section .block-post {
    overflow: hidden;
    position: relative;
    background: #333333; }
    section.services-block-section .block-post .image-block {
      width: 50%; }
      section.services-block-section .block-post .image-block img {
        width: 100%;
        height: auto; }
    section.services-block-section .block-post .block-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center; }
      section.services-block-section .block-post .block-content .inner-content p {
        color: #797979;
        margin-bottom: 0; 
        font-family: "Myriad pro";
      }
      section.services-block-section .block-post .block-content .inner-content h2 {
        color: #fff; }
  section.services-block-section .block-post.right-align {
    background: #f6f6f7; }
    section.services-block-section .block-post.right-align .image-block {
      float: right; }
    section.services-block-section .block-post.right-align .block-content .inner-content h2 {
      color: #333333; }


@media (max-width: 991px) {
  .navbar-brand {
    padding: 25px 30px 20px; }
  .navbar-toggler {
    margin-right: 15px !important; }
  header {
    padding: 0; }
  .navbar-nav {
    background: #222222;
    padding: 15px;
    max-width: 100%;
    max-height: 300px;
    overflow-y: scroll; }
  .navbar-nav > li > a {
    padding: 6px 0 !important;
    border: none !important;
    margin: 0; }
  .dropdown {
    opacity: 1;
    visibility: visible;
    background: transparent;
    border: none;
    position: relative;
    padding-left: 20px;
    margin-top: -5px !important;
    top: initial;
    left: initial; }
    .dropdown li {
      border: none; }
    .dropdown li a {
      background: transparent !important;
      padding: 6px 0;
      color: #fff; }
  .navbar a.open-close-menu {
    display: none; }
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a.active {
    color: #4885ff !important; }
  section.clients-section .clients-box ul.client-list li {
    width: 33.333333%; }
  section.portfolio-section .portfolio-box .project-post {
    width: 50%; }
  section.portfolio-section.msn-style .portfolio-box.iso-call .project-post,
  section.team-section.second-style .team-box .team-post,
  section.portfolio-section.metro-style .portfolio-box.iso-call .project-post {
    width: 50%; }
  section.portfolio-section.msn-style .portfolio-box.iso-call .project-post.snd-size,
  section.portfolio-section.metro-style .portfolio-box.iso-call .project-post.snd-size {
    width: 100%; }
  section.contact-section #contact-form {
    margin-bottom: 20px; }
  #map {
    height: 300px; }
  section.about-section .about-box .image-box {
    padding-left: 0; }
  section.services-section .services-box .services-post {
    margin-bottom: 50px; }
    section.services-section .services-box .services-post .services-content h2, section.services-section .services-box .services-post .services-content a {
      color: #fff; }
    section.services-section .services-box .services-post .services-content p {
      color: #cccccc; }
  section.services-section {
    margin-bottom: 0; }
  section.testimonial-section .testimonial-box {
    border-top: none;
    padding-top: 0; }
  section.about-section2 .about-box {
    padding: 0; }
  section.about-section2 .about-box .article-box {
    margin-bottom: 40px;
    padding: 0; }
  section.about-section2 .about-box:after {
    display: none; }
  section.about-section2 .video-box .hover-video a {
    margin: 0 30px; }
  section.portfolio-section.second-style .portfolio-box .project-post,
  section.portfolio-section .portfolio-box.iso-call.no-paddings .project-post {
    width: 50%; }
  section.portfolio-section .portfolio-box.iso-call .project-post {
    width: 50%; }
  section.blog-section .blog-box .blog-post {
    width: 330px; }
  .sidebar {
    padding-left: 0; }
  section.blog-section .center-button {
    margin-bottom: 50px; }
  section.services-section.grey-background .strategy-box .strategy-post {
    margin-bottom: 70px; }
  section.services-section.grey-background {
    padding-bottom: 0; }
    section.services-section.grey-background .services-box {
      padding-bottom: 0; }
  section.services-section.grey-background .services-box .services-post {
    margin-bottom: 40px; }
    section.services-section.grey-background .services-box .services-post .services-content h2 {
      color: #333333; }
    section.services-section.grey-background .services-box .services-post .services-content p {
      color: #999999; }
    section.services-section.grey-background .services-box .services-post .services-content a {
      color: #4885ff; }
  section.collapse-section div.image-holder img {
    margin-bottom: 50px; }
  section.services-block-section .block-post .image-block {
    float: none !important;
    width: 100%; }
  section.services-block-section .block-post .block-content {
    position: relative;
    top: initial;
    left: initial;
    right: initial;
    bottom: initial;
    padding: 70px 0; }
  section.about-section .about-box .article-box {
    padding-top: 0; } }

@media (max-width: 767px) {
  
  section.services-section2 .services-box .services-post {
    padding: 30px; }
  
  h1 {
    font-size: 34px; }
  section.services-section .services-title .button-holder {
    text-align: left; }
  
  
  section.about-section2 .video-box .hover-video h2 {
    display: none; }
  section.what-we-do .image-back-holder {
    display: none; }
  
  }

@media (max-width: 640px) {
  
 
 
  section.services-section2 .services-box .services-post {
    padding: 0; } }


